---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '111'
      x-ratelimit-reset:
      - '179'
    body:
      encoding: UTF-8
      string: '{"numItems":42,"activityItems":[{"startTime":"2015-01-21T04:28:21.3437747Z","endTime":"2015-01-21T04:37:20.7527345Z","sessionDurationInMinutes":8,"contentImageUri":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrJMDB0yOxmqR1NdzqJlUYsRLsVVfpb_YjkupTv_EVe_z3dCfaR2FfVWPVXspUgfvLrkVBizR9zHIAgs4kxHS_6Z653xNooz6KtI9ILmH4j6MbnyBJszoxvv4nKvnnEDyoeLvohNEuBEE994NRvkFQ.9Xrtxy8Q03JP5X.A87Noc-","bingId":"40bbfa62-064c-4ff2-a861-dd82c109dfab","contentTitle":"Call
        of Duty\u00ae: Advanced Warfare","vuiDisplayName":"Advanced Warfare","platform":"XboxOne","titleId":875417719,"activity":{"startTime":"2015-01-21T04:28:21.3437747Z","endTime":"2015-01-21T04:37:20.7527345Z","numShares":0,"numLikes":0,"numComments":0,"ugcCaption":null,"activityItemType":"Played","userXuid":2533274810770211,"date":"2015-01-21T04:28:21.3437747Z","contentType":"Game","titleId":875417719,"platform":"XboxOne","sandboxid":"RETAIL","userKey":null},"userImageUriMd":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png&w=208&h=208","userImageUriXs":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png&w=64&h=64","description":"started
        playing Call of Duty\u00ae: Advanced Warfare","date":"2015-01-21T04:28:21.3437747Z","hasUgc":false,"activityItemType":"Played","contentType":"Game","shortDescription":"played
        a game","itemText":"Call of Duty\u00ae: Advanced Warfare","itemImage":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrJMDB0yOxmqR1NdzqJlUYsRLsVVfpb_YjkupTv_EVe_z3dCfaR2FfVWPVXspUgfvLrkVBizR9zHIAgs4kxHS_6Z653xNooz6KtI9ILmH4j6MbnyBJszoxvv4nKvnnEDyoeLvohNEuBEE994NRvkFQ.9Xrtxy8Q03JP5X.A87Noc-","shareRoot":"avty.xboxlive.com\/users\/xuid(2533274810770211)\/contexts\/900000136E323_2015_01\/activity\/Activity.201501.21.2.342DD077.635574113013437747","feedItemId":"avty.xboxlive.com\/users\/xuid(2533274810770211)\/contexts\/900000136E323_2015_01\/activity\/Activity.201501.21.2.342DD077.635574113013437747","itemRoot":"avty.xboxlive.com\/users\/xuid(2533274810770211)\/contexts\/900000136E323_2015_01\/activity\/Activity.201501.21.2.342DD077.635574113013437747","hasLiked":false,"authorInfo":{"name":"audibleBLiNK","secondName":"","imageUrl":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png","authorType":"User","id":2533274810770211},"gamertag":"audibleBLiNK","realName":"","displayName":"audibleBLiNK","userImageUri":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png","userXuid":2533274810770211},{"clipId":"94135ffd-2dd7-48c3-9a6f-5799e6e1da08","clipThumbnail":"http:\/\/images-eds.xboxlive.com\/image?url=dfiDK7JY.OOtUOcd3g3Q02YvHyqT_rMryKxYbBbNkezSWbdfwCFhAz2xCOoKcJd7igpdRp6n75iLWyuCVtM9tlK0RV_BvXAmcXa3fRkSy_mas_imhzGwKjHV3O88kMgV1CP0IgZRioPk4FPg0IfldlE2G4jMhYZjR8cBwatWe.U-","clipName":"","clipCaption":"","clipScid":"53290100-a465-4ad1-bcbb-e05d342dd077","dateRecorded":"2015-01-19T01:13:03Z","viewCount":2,"contentImageUri":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrJMDB0yOxmqR1NdzqJlUYsRLsVVfpb_YjkupTv_EVe_z3dCfaR2FfVWPVXspUgfvLrkVBizR9zHIAgs4kxHS_6Z653xNooz6KtI9ILmH4j6MbnyBJszoxvv4nKvnnEDyoeLvohNEuBEE994NRvkFQ.9Xrtxy8Q03JP5X.A87Noc-","bingId":"40bbfa62-064c-4ff2-a861-dd82c109dfab","contentTitle":"Call
        of Duty\u00ae: Advanced Warfare","vuiDisplayName":"Advanced Warfare","platform":"XboxOne","titleId":875417719,"activity":{"dateRecorded":"2015-01-19T01:29:06.3094664Z","numShares":0,"numLikes":0,"numComments":0,"ugcCaption":null,"clipId":"94135ffd-2dd7-48c3-9a6f-5799e6e1da08","activityItemType":"GameDVR","clipName":null,"clipScid":"53290100-a465-4ad1-bcbb-e05d342dd077","userXuid":2533274810770211,"clipImage":"http:\/\/gameclipscontent-t2002.xboxlive.com\/000900000136e323-94135ffd-2dd7-48c3-9a6f-5799e6e1da08\/Thumbnail_Large.PNG?sv=2013-08-15&sr=c&sig=s1m9HPjn7PvQYtPYUsGwsnFnCK2poUAsmbxCYaCwxWw%3D&st=2015-01-19T01%3A24%3A06Z&se=2114-12-26T01%3A29%3A06Z&sp=r","clipType":"UserGenerated","clipCaption":"","savedByUser":false,"date":"2015-01-19T01:29:06.3094664Z","sharedSourceUser":0,"contentType":"Game","titleId":875417719,"platform":"XboxOne","sandboxid":"RETAIL","userKey":null},"userImageUriMd":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png&w=208&h=208","userImageUriXs":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&[...]
