---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '113'
      x-ratelimit-reset:
      - '181'
    body:
      encoding: UTF-8
      string: '[{"id":2533274851822561,"hostId":null,"Gamertag":"Un Anciano 64","GameDisplayName":"Un
        Anciano 64","AppDisplayName":"Un Anciano 64","Gamerscore":6173,"GameDisplayPicRaw":"http:\/\/images-eds.xboxlive.com\/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KIFXxmxGDtE9Vkd62rOpb7JehA8dSapBHnH1CYJpGcvrqx3u3aQ5NMCKRX1WaLAVwB&format=png","AppDisplayPicRaw":"http:\/\/images-eds.xboxlive.com\/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KIFXxmxGDtE9Vkd62rOpb7JehA8dSapBHnH1CYJpGcvrqx3u3aQ5NMCKRX1WaLAVwB&format=png","AccountTier":"Gold","XboxOneRep":"GoodPlayer","PreferredColor":"http:\/\/dlassets.xboxlive.com\/public\/content\/ppl\/colors\/00007.json","TenureLevel":5,"isSponsoredUser":false},{"id":2533274798737484,"hostId":null,"Gamertag":"AlphaLimaFxtrot","GameDisplayName":"AlphaLimaFxtrot","AppDisplayName":"AlphaLimaFxtrot","Gamerscore":35865,"GameDisplayPicRaw":"http:\/\/images-eds.xboxlive.com\/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KId46ktn4AUxk.ghIPeRshxZweiQSl4FphlJqcBq8IJ3z2UUsZMm3mc0J28dqQaAMV&format=png","AppDisplayPicRaw":"http:\/\/images-eds.xboxlive.com\/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KId46[...]
