---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/game-clips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '109'
      x-ratelimit-reset:
      - '176'
    body:
      encoding: UTF-8
      string: '[{"gameClipId":"94135ffd-2dd7-48c3-9a6f-5799e6e1da08","state":"Published","dateRecorded":"2015-01-19
        01:13:03","lastModified":"2015-01-19 04:40:38","userCaption":"","type":"UserGenerated","durationInSeconds":29,"scid":"53290100-a465-4ad1-bcbb-e05d342dd077","titleId":875417719,"rating":0,"ratingCount":0,"views":2,"titleData":"","systemProperties":"7315f044-f833-409d-9944-fed6f9389ca5;","savedByUser":false,"achievementId":"","greatestMomentId":"","thumbnails":[{"uri":"http:\/\/gameclipscontent-t2002.xboxlive.com\/000900000136e323-94135ffd-2dd7-48c3-9a6f-5799e6e1da08\/Thumbnail_Small.PNG","fileSize":94695,"thumbnailType":"Small"},{"uri":"http:\/\/gameclipscontent-t2002.xboxlive.com\/000900000136e323-94135ffd-2dd7-48c3-9a6f-5799e6e1da08\/Thumbnail_Large.PNG","fileSize":288930,"thumbnailType":"Large"}],"gameClipUris":[{"uri":"http:\/\/gameclipscontent-d2002.xboxlive.com\/asset-6587b2b2-8a5a-4374-acd3-feea481a2440\/GameClip-Original.MP4?sv=2013-08-15&sr=c&sig=V3GDyT3LupB1Z1FQXCshgfaC9WWCerzbOgXSIG5i2uE%3D&st=2015-01-21T15%3A52%3A05Z&se=2015-01-21T16%3A57%3A05Z&sp=r&__gda__=1421859425_116fd735e83e2c2c0ae40ac3e2ecd092","fileSize":16571604,"uriType":"Download","expiration":"2015-01-21
        16:57:05"}],"xuid":2533274810770211,"clipName":"","titleName":"Call of Duty\u00ae:
        Advanced Warfare","gameClipLocale":"en-US","clipContentAttributes":"None","gameClipDetails":"https:\/\/xboxapi.com\/v2\/2533274810770211\/game-clip-details\/53290100-a465-4ad1-bcbb-e05d342dd077\/94135ffd-2dd7-48c3-9a6f-5799e6e1da08"},{"gameClipId":"5e8f5250-1ebf-492b-b60b-f8fab385e3b7","state":"Published","dateRecorded":"2015-01-19
        00:17:28","lastModified":"2015-01-19 04:42:04","userCaption":"","type":"UserGenerated","durationInSeconds":29,"scid":"53290100-a465-4ad1-bcbb-e05d342dd077","titleId":875417719,"rating":0,"ratingCount":0,"views":1,"titleData":"","systemProperties":"82[...]
