---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/presence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Reset:
      - '2789'
    body:
      encoding: UTF-8
      string: '{"xuid":2533274810770211,"state":"Offline","lastSeen":{"deviceType":"XboxOne","titleId":714681658,"titleName":"Home","timestamp":"2015-01-21T04:37:20.7527345Z"}}'
  recorded_at: Wed, 21 Jan 2015 17:13:32 GMT
recorded_with: VCR 2.9.3
