---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/presence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '108'
      x-ratelimit-reset:
      - '1571'
    body:
      encoding: UTF-8
      string: '{"xuid":2533274810770211,"state":"Online","devices":[{"type":"XboxOne","titles":[{"id":714681658,"name":"Home","placement":"Background","state":"Active","lastModified":"2015-01-21T04:31:07.4410859Z"},{"id":875417719,"name":"Call
        of Duty\u00ae: Advanced Warfare","placement":"Full","state":"Active","lastModified":"2015-01-21T04:31:07.4410859Z"}]}]}'
  recorded_at: Wed, 21 Jan 2015 04:33:49 GMT
recorded_with: VCR 2.9.3
