---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '113'
      X-Ratelimit-Reset:
      - '2782'
    body:
      encoding: UTF-8
      string: '{"id":2533274810770211,"hostId":null,"Gamertag":"audibleBLiNK","GameDisplayName":"audibleBLiNK","AppDisplayName":"audibleBLiNK","Gamerscore":15720,"GameDisplayPicRaw":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&format=png","AppDisplayPicRaw":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&format=png","AccountTier":"Gold","XboxOneRep":"GoodPlayer","PreferredColor":"http:\/\/dlassets.xboxlive.com\/public\/content\/ppl\/colors\/00001.json","TenureLevel":6,"isSponsoredUser":false}'
  recorded_at: Wed, 21 Jan 2015 17:13:38 GMT
recorded_with: VCR 2.9.3
