---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/activity/recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '2936'
    body:
      encoding: UTF-8
      string: '[{"startTime":"2015-01-21T04:28:21.3437747Z","endTime":"2015-01-21T04:37:20.7527345Z","sessionDurationInMinutes":8,"contentImageUri":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrJMDB0yOxmqR1NdzqJlUYsRLsVVfpb_YjkupTv_EVe_z3dCfaR2FfVWPVXspUgfvLrkVBizR9zHIAgs4kxHS_6Z653xNooz6KtI9ILmH4j6MbnyBJszoxvv4nKvnnEDyoeLvohNEuBEE994NRvkFQ.9Xrtxy8Q03JP5X.A87Noc-","bingId":"40bbfa62-064c-4ff2-a861-dd82c109dfab","contentTitle":"Call
        of Duty\u00ae: Advanced Warfare","vuiDisplayName":"Advanced Warfare","platform":"XboxOne","titleId":875417719,"activity":{"startTime":"2015-01-21T04:28:21.3437747Z","endTime":"2015-01-21T04:37:20.7527345Z","numShares":0,"numLikes":0,"numComments":0,"ugcCaption":null,"activityItemType":"Played","userXuid":2533274810770211,"date":"2015-01-21T04:28:21.3437747Z","contentType":"Game","titleId":875417719,"platform":"XboxOne","sandboxid":"RETAIL","userKey":null},"description":"started
        playing Call of Duty\u00ae: Advanced Warfare","date":"2015-01-21T04:28:21.3437747Z","hasUgc":false,"activityItemType":"Played","contentType":"Game","shortDescription":"played
        a game","itemText":"Call of Duty\u00ae: Advanced Warfare","itemImage":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrJMDB0yOxmqR1NdzqJlUYsRLsVVfpb_YjkupTv_EVe_z3dCfaR2FfVWPVXspUgfvLrkVBizR9zHIAgs4kxHS_6Z653xNooz6KtI9ILmH4j6MbnyBJszoxvv4nKvnnEDyoeLvohNEuBEE994NRvkFQ.9Xrtxy8Q03JP5X.A87Noc-","shareRoot":"avty.xboxlive.com\/users\/xuid(2533274810770211)\/contexts\/900000136E323_2015_01\/activity\/Activity.201501.21.2.342DD077.635574113013437747","feedItemId":"avty.xboxlive.com\/users\/xuid(2533274810770211)\/contexts\/900000136E323_2015_01\/activity\/Activity.201501.21.2.342DD077.635574113013437747","itemRoot":"avty.xboxlive.com\/users\/xuid(2533274810770211)\/contexts\/900000136E323_2015_01\/activity\/Activity.201501.21.2.342DD077.635574113013437747","hasLiked":false,"authorInfo":{"name":"audibleBLiNK","secondName":"","imageUrl":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png","authorType":"User","id":2533274810770211},"gamertag":"audibleBLiNK","realName":"","displayName":"audibleBLiNK","userImageUri":"http:\/\/images-eds.xboxlive.com\/image?url=mHGRD8KXEf2sp2LC58XhBQKNl2IWRp.J.q8mSURKUUdaZjeQHY59fCTQrPSqFh7bVQEHYk6Quk07g7FT7ah5E4fFOq..pkgrzRv6HrSan8o-&background=0xababab&mode=Padding&format=png","userXuid":2533274810770211},{"startTime":"2015-01-18T23:28:52.5541061Z","endTime":"2015-01-18T23:32:49.6768718Z","sessionDurationInMinutes":3,"contentImageUri":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc3_wiou7YeghtQLHz8U2KStGNh351DlA[...]
