---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/xbox360games
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '110'
      X-Ratelimit-Reset:
      - '2779'
    body:
      encoding: UTF-8
      string: '{"titles":[{"lastPlayed":"2015-01-12T17:46:43.8200000Z","currentAchievements":0,"currentGamerscore":0,"sequence":514,"titleId":1314326481,"titleType":5,"platforms":[1],"name":"Amazon
        Instant Video","totalAchievements":0,"totalGamerscore":0},{"lastPlayed":"2014-12-29T20:07:19.5170000Z","currentAchievements":0,"currentGamerscore":0,"sequence":512,"titleId":1313671164,"titleType":1,"platforms":[1],"name":"TEKKEN
        6","totalAchievements":50,"totalGamerscore":1000},{"lastPlayed":"2014-11-11T01:38:01.4270000Z","currentAchievements":0,"currentGamerscore":0,"sequence":506,"titleId":1464076241,"titleType":5,"platforms":[1],"name":"Plex","totalAchievements":0,"totalGamerscore":0},{"lastPlayed":"2014-11-10T18:25:23.0200000Z","current[...]
