---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/2533274810770211/xboxonegames
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - e0662396178e32b0ea6c1f36c842a2b96b3bfb3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '111'
      X-Ratelimit-Reset:
      - '2780'
    body:
      encoding: UTF-8
      string: '{"titles":[{"lastUnlock":"2014-12-27T03:55:37.8867584Z","titleId":122001257,"serviceConfigId":"64c10100-3d40-49d5-8f1c-c99807459769","titleType":"LiveApp","platform":"Durango","name":"YouTube","earnedAchievements":1,"currentGamerscore":0,"maxGamerscore":0},{"lastUnlock":"2014-09-30T01:56:42.8026961Z","titleId":247546985,"serviceConfigId":"37770100-f9ae-4b80-9dad-7c1d0ec14469","titleType":"DGame","platform":"Durango","name":"Destiny","earnedAchievements":8,"currentGamerscore":160,"maxGamerscore":1000},{"lastUnlock":"2014-12-27T03:46:01.2307618Z","titleId":327370029,"serviceConfigId":"595c0100-e535-40c1-93f6-a1b11383452d","titleType":"LiveApp","platform":"Durango","name":"Netflix","earnedAchievements":2,"currentGamerscore":0,"maxGamerscore":0},{"[...]
